*{
    margin: 10px;
    padding: 10px ;
}

body{
    background: rgb(123, 86, 227);
    font-family: 'Oxanium', cursive;
    
}

header{
    background-color: rgb(101, 83, 235);
    text-align: center;
    position: relative;
    bottom: 20px;
   
}

main{  
    background-color: rgb(87, 72, 197);
    text-align: center;
}

section{
    background-color: rgb(81, 51, 141);
}

footer{
    background-color: rgb(81, 81, 195);
    text-align: center;
    top: 17px;
    padding-top: 10px;
}
div{
    width: 250px;
    position: relative;
    padding: 10px;
}

.redes{
    
    position: absolute;
    left: 725px;
    bottom: 0.02em;
    margin-top: 1px;
}
.redes1{
    position: absolute;
    left: 825px;
    bottom:0.02em;
    margin-top: 1px;

}
.redes2{
    position: absolute;
    left: 925px;
    bottom: 0.02em;
    margin-top: 1px;
}