*{
    margin: 10px;
    padding: 10px ;
}

body{
    background: rgb(123, 86, 227);
    font-family: 'Oxanium', cursive;
    
}

header{
    background-color: rgb(101, 83, 235);
    text-align: center;
    position: relative;
    bottom: 20px;
   
}

main{  
    background-color: rgb(87, 72, 197);
    text-align: center;
    
}

section{
    background-color: rgb(81, 51, 141);
    margin-top: 20px;
}

footer{
    background-color: rgb(81, 81, 195);
    text-align: center;
    
    
}
    
div{

    display: flex;
    justify-content: center;
    align-items: center;
 
}

.redes{
    
   
}
.redes1{
    

}
.redes2{
    
}